# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.idea

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
wheels/
MANIFEST

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Django stuff:
*.log
.static_storage/
.media/
local_settings.py

# Environments
.env
.venv
env/
venv/
ENV/

tools
tools/exports
tools/upgrade
collectstatic


temp*
test*

settings_conf.yaml
.tags